$width_site: 1300px;
$footer_color: #222;
$border_width: 1px;

* {
    margin: 0;
    padding: 0;
}
.content-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: $width_site;
    margin: 0 auto;
    padding: 30px 50px;
}
.header {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    &__menu {
        display: flex;
        list-style-type: none;
    }
}
.menu-item {
    margin: 0 5px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
}
.heading {
    margin: 10px auto;
    text-align: center;
}
.content {
    flex-grow: 1;
}
.block1, .block2 {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}
.card {
    background-color: #eee;
    &__box {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        background-color: whitesmoke;
        width: ($width_site / 6) - $border_width * 6;
        height: 150px;
        border: $border_width solid #000;
        border-radius: 5px;
        margin: 15px;
    }
}
.footer {
    background-color: $footer_color;

    &__menu {
        list-style-type: none;
    }

    &__menu-item {
        color: #eee;
    }
}
