$dark-color: #222222;
$pink-color: #F1E4E6;
$pink-text: #F16D7F;
$dark-link: #6F6E6E;
$gray-description: #9F9F9F;
$product-card-description: #5D5D5D;
$product-card-background: #F8F8F8;
$product-card-hover: rgba(58, 56, 56, 0.86);
$dark-footer: #222224;
$light-footer: #FBFBFB;
$gray-footer-form: #E1E1E1;

$registration-header-back: #F8F3F4;
$border-color: #A4A4A4;
$description-color: #B1B1B1;

$quantity-color: #EAEAEA;
$total-color: #F5F3F3;
$total-line: #E2E2E2;

$bread-color: #636363;
$pagination-color: #c4c4c4;

$prefix-color: #EF5B70;
$summary-bottom: #EBEBEB;

$supply-background: #F7F7F7;
$supply-nav: rgba(42, 42, 42, 0.15);
$supply-name: #4D4D4D;
$supply-text: #5E5E5E;