@import "vars_colors";

.reg {
  &-main {

    &__header {
      background-color: $registration-header-back;
      padding: 60px 0;

      &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

      }

    }
  }
}

.reg {
  padding-top: 40px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;

  &__description {
    width: 60%;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    &__title {
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    &__text {
      margin-bottom: 22px;
    }
    &__list {
      list-style-image: url("../icons/ul-icons.png");
      list-style-position: inside;
    }
    &__item {
      margin-bottom: 16px;
      &:before {
        content: '';
        margin-right: 23px;
      }
    }
    &-text {
      max-width: 360px;
      margin-bottom: 39px;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: $description-color;

    }
  }

  &__form {
    margin-right: 22px;
    &__name {
      &__title {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $dark-color;
      }
    }

    &__sex {
      display: flex;
      align-items: center;
      margin-bottom: 33px;
    }
  }
  &__radio-text {
    margin-right: 20px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    &:last-child {
      margin-right: 0;
    }
  }
  &__join-button {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 16px 25px;
    background-color: $pink-text;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.input-txt {
  margin-bottom: 20px;
  box-sizing: border-box;
  display: block;
  width: 360px;
  height: 45px;
  padding: 14px;
  &::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $description-color;
  }
}

input[type="radio"] {
  margin-right: 10px;
}
.join-txt {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .reg {
    &__description {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 625px) {
  .reg {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    &__form {
      margin-bottom: 55px;
    }
    &__description {
      width: 100%;
      margin-bottom: 95px;
    }
  }
}